parameters:
    level: 8
    paths:
        - src
        - tests
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    doctrine:
        objectManagerLoader: tests/doctrine-object-manager.php
    excludePaths:
        - src/Kernel.php
